.MuiContainer-root.MuiContainer-maxWidthLg.numOfStepsControl.css-adblrt-MuiContainer-root {
	padding-left: 0px;
}

.channelFader {
	height: 185px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controlRow {
	display: flex;
	align-items: center;
	height: 100px;
}

#mixer {
	display: flex;
	align-items: flex-start;
	height: 100px;
	padding-top: 34px;
}

.icon {
	height: 42px;
}

.pitchControlContainer,
.numKnob,
.styledBpmKnob {
	transform: translate(0px, 22px);
}

#voice1true {
	height: 90px;
	margin-top: 300px;
	margin-right: 33px;
}

#voice2true {
	height: 150px;
	margin-top: 282px;
	margin-left: 44px;
}
#voice3true {
	height: 210px;
	margin-top: 265px;
	margin-left: 81px;
}

#voice1false {
	height: 90px;
	margin-top: 307px;
	margin-left: 206px;
}

#voice2false {
	height: 150px;
	margin-top: 286px;
	margin-left: 193px;
}
#voice3false {
	height: 210px;
	margin-top: 265px;
	margin-left: 182px;
}

.stepPlaying {
	padding: 14px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.02s ease-out all;
}

.stepActive {
	padding: 10px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.43s ease-in-out all;
}

.stepInactive {
	opacity: 0.1;
	padding: 9px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.15s ease-in-out all;
}

.stepActive:hover,
.stepInactive:hover {
	padding: 11px;
	max-width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 1px rgb(207, 207, 207);
	transition: 0.1s ease-in-out all;
}
