.transport {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
}

#paramsContainer {
	display: flex;
	flex-direction: column;
}

#voiceContainer {
	display: flex;
}

.MuiContainer-root.MuiContainer-maxWidthLg.numOfStepsControl.css-adblrt-MuiContainer-root {
	padding-left: 0px;
}

#controlContainer {
	display: flex;
	flex-direction: column;
}

.voice {
	display: flex;
	justify-content: center;
}

.voiceControls {
	width: 450px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.stepContainer {
	position: absolute;
	transform: rotate(-90deg);
	margin-left: 40px;
}

#voice1 {
	display: flex;
	height: 90px;
	margin-top: 300px;
	margin-right: 33px;
}

#voice2 {
	display: flex;
	height: 150px;
	margin-top: 282px;
	margin-left: 44px;
}
#voice3 {
	display: flex;
	height: 210px;
	margin-top: 265px;
	margin-left: 81px;
}

.stepPlaying {
	background-color: rgb(5, 136, 0);
	padding: 14px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.03s ease-out all;
}

.stepActive {
	background-color: rgb(177, 255, 146);
	padding: 10px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.43s ease-in-out all;
}

.stepInactive {
	background-color: rgb(216, 253, 253);
	padding: 9px;
	max-width: 100%;
	border-radius: 50%;
	box-shadow: black;
	transition: 0.25s ease-in-out all;
}
