.transport {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#voiceContainer {
	display: flex;
}

#controlContainer {
	display: flex;
	flex-direction: column;
}

#numOfStepsContainer {
	display: flex;
	flex-direction: column;
}

.voice {
	display: flex;
	justify-content: center;
	// border-style: solid;
	// border-width: 2px;
	// padding: 20px;
	// border-radius: 50%;
}

.voiceControls {
	width: 350px;
	display: flex;
	justify-content: space-around;
	// border-style: solid;
	// border-width: 2px;
	// padding: 20px;
	// border-radius: 50%;
}

.stepContainer {
	position: absolute;
	transform: rotate(-90deg);
	margin-left: 40px;
}

#voice1 {
	display: flex;
	height: 90px;
	margin-top: 300px;
	margin-right: 33px;
}

#voice2 {
	display: flex;
	height: 150px;
	margin-top: 282px;
	margin-left: 44px;
}
#voice3 {
	display: flex;
	height: 210px;
	margin-top: 265px;
	margin-left: 81px;
}

.stepPlaying {
	background-color: rgb(5, 136, 0);
	padding: 25px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.03s ease-out all;
}

.stepActive {
	background-color: rgb(177, 255, 146);
	padding: 20px;
	max-width: 100%;
	border-radius: 50%;
	transition: 0.2s linear all;
}

.stepInactive {
	background-color: rgb(216, 253, 253);
	padding: 19px;
	max-width: 100%;
	border-radius: 50%;
	box-shadow: black;
	transition: 0.25s ease-out all;
}
