.inactive {
	padding: 4px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}

.active {
	padding: 4px;
	text-align: center;
	background-color: coral;
	border-width: 1px;
	border-style: solid;
}

.stepContainer {
	display: flex;
}
